<div class="block">
  <div class="block--dark block-skwe-right">
    <div class="container">
      <div class="block--header">
        <h3 class="block__heading">
          The best web hosting Starting at per month
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
          recusandae sint delectus ad sed suscipit doloremque officia nam nihil
          nobis. Aperiam voluptate deleniti cupiditate quasi!
        </p>
      </div>
    </div>
  </div>
  <div class="block--light container">
    <div class="block--header">
      <h3 class="block__heading">The best web hosting Starting at per month</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
        recusandae sint delectus ad sed suscipit doloremque officia nam nihil
        nobis. Aperiam voluptate deleniti cupiditate quasi!
      </p>
    </div>
  </div>
</div>
