<div class="block--header">
  <h2 class="block__heading">Host Оn Тhe Cloud to Keep Growing</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, illo.</p>
</div>
<article class="block-feature container grid grid--1X2">
  <div class="feature-content">
    <div class="block-feature__desc">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="block-feature__header">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur
        ducimus, molestias ullam fuga minus exercitationem vitae ipsam.
      </p>
      <a href="" class="link-arrow">LEARN MORE</a>
    </div>
  </div>
  <img class="block-feature__photo" src="images/easy.jpg" alt="" />
</article>
<article class="block-feature container grid grid--1X2">
  <div class="feature-content">
    <div class="block-feature__desc">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="block-feature__header">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur
        ducimus, molestias ullam fuga minus exercitationem vitae ipsam.
      </p>
      <a href="" class="link-arrow">LEARN MORE</a>
    </div>
  </div>
  <img class="block-feature__photo" src="images/fast.jpg" alt="" />
</article>
<article class="block-feature container grid grid--1X2">
  <div class="feature-content">
    <div class="block-feature__desc">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="block-feature__header">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur
        ducimus, molestias ullam fuga minus exercitationem vitae ipsam.
      </p>
      <a href="" class="link-arrow">LEARN MORE</a>
    </div>
  </div>
  <img class="block-feature__photo" src="images/wordpress.jpg" alt="" />
</article>
<article class="block-feature container grid grid--1X2">
  <div class="feature-content">
    <div class="block-feature__desc">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="block-feature__header">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur
        ducimus, molestias ullam fuga minus exercitationem vitae ipsam.
      </p>
      <a href="" class="link-arrow">LEARN MORE</a>
    </div>
  </div>
  <img class="block-feature__photo" src="images/support.jpg" alt="" />
</article>
