<section class="control-panel block--dark block-skew-left">
  <header class="block--header">
    <h2 class="block__heading">User-Friendly Control Panel</h2>
  </header>
  <div class="control-panel--content grid grid--1X2">
    <picture class="control-panel__img-div">
      <img
        class="control-panel__img"
        sizes="(max-width: 1517px) 100vw, 1517px"
        srcset="
          images/ipad_ma05fu_c_scale,w_200.png   200w,
          images/ipad_ma05fu_c_scale,w_1014.png 1014w,
          images/ipad_ma05fu_c_scale,w_1517.png 1517w
        "
        src="images/ipad_ma05fu_c_scale,w_1517.png"
        alt=""
      />
    </picture>
    <div class="control-panel__media">
      <article class="control-panel__desc">
        <div class="media">
          <div class="media--icon">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#search"></use>
            </svg>
          </div>
          <div class="media--desc">
            <header>
              <h3 class="media__header">Easy Start & Managed Updates</h3>
            </header>
            <div>
              <p class="media__body">
                Our cloud plans include easy onboarding for new and existing
                sites and managed WordPress and WooCommerce auto-updates.
              </p>
            </div>
          </div>
        </div>
      </article>
      <article class="control-panel__desc">
        <div class="media">
          <div class="media--icon">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media--desc">
            <header>
              <h3 class="media__header">Staging, Git & WP-CLI</h3>
            </header>
            <div>
              <p class="media__body">
                We make your WordPress and WooCommerce development flow easier
                with a convenient staging tool and Git and WP-CLI integration.
              </p>
            </div>
          </div>
        </div>
      </article>
      <article class="control-panel__desc">
        <div class="media">
          <div class="media--icon">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#tick"></use>
            </svg>
          </div>
          <div class="media--desc">
            <header>
              <h3 class="media__header">Dynamic Caching & More</h3>
            </header>
            <div>
              <p class="media__body">
                Speed up your WordPress and Woo sites with our SG Optimizer
                plugin through smart dynamic caching and multiple other
                performance optimizations.
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
