<div class="container block-domain">
    <div class="block__header block-domain__header">
      <h3 class="block__heading block-domain__heading">
        The best web hosting Starting at per month
      </h3>
      <p class="block-domain__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Repellat,
        cupiditate. Atque non quisquam quaerat perspiciatis consequatur,
        dolore modi id nobis asperiores eius?
      </p>
      <div class="input-group">
        <input type="text" />
        <button class="btn btn--accent block-domain__btn">
          <img
            class="icon icon--small icon--white"
            src="icons/search.svg"
          ></img>
          <p class="domain-block__btn-text">Search</p>
        </button>
      </div>
      <ul class=" list grid domain-block__grid2X3">
        <li>.com $9.26</li>
        <li ><span class="badge badge--secondary ">.sg $7.91</span></>
        <li>.space $12.98</li>
        <li>.info $14.15</li>
        <li>.net $16.15</li>
        <li>.xyz $10.15</li>
      </ul>
    </div>
  </div>