<footer class="footer block--dark footer--grid__wide">
  <section class="footer--grid collapsible collapsible--header">
    <h3 class="block__heading">PRODUCTS</h3>
    <svg class="icon icon--white icon--small collapsible--icon">
      <use xlink:href="icons/sprite.svg#chevron"></use>
    </svg>
    <div class="collapsible--body">
      <ul class="list collapsible__lists">
        <li class="footer__items"><a href=""> WordPress Hosting</a></li>
        <li class="footer__items">
          <a href=""> Free Automated WordPress</a>
        </li>
        <li class="footer__items"><a href=""> Migrations</a></li>
      </ul>
    </div>
  </section>
  <section class="footer--grid collapsible collapsible--header">
    <h3 class="block__heading">company</h3>
    <svg class="icon icon--white icon--small collapsible--icon">
      <use xlink:href="icons/sprite.svg#chevron"></use>
    </svg>
    <div class="collapsible--body">
      <ul class="list collapsible__lists">
        <li class="footer__items"><a href="">About</a></li>
        <li class="footer__items"><a href="">Afiliates</a></li>
        <li class="footer__items"><a href="">Blogs</a></li>
      </ul>
    </div>
  </section>
  <section class="footer--grid collapsible collapsible--header">
    <h3 class="block__heading">support</h3>
    <svg class="icon icon--white icon--small collapsible--icon">
      <use xlink:href="icons/sprite.svg#chevron"></use>
    </svg>
    <div class="collapsible--body">
      <ul class="list collapsible__lists">
        <li class="footer__items"><a href="">Contact</a></li>
        <li class="footer__items"><a href="">Knowledge Base</a></li>
        <li class="footer__items"><a href="">FAQ</a></li>
      </ul>
    </div>
  </section>
  <section class="footer--grid collapsible collapsible--header">
    <h3 class="block__heading">domain</h3>
    <svg class="icon icon--white icon--small collapsible--icon">
      <use xlink:href="icons/sprite.svg#chevron"></use>
    </svg>
    <div class="collapsible--body">
      <ul class="list collapsible__lists">
        <li class="footer__items"><a href="">Domain Checker</a></li>
        <li class="footer__items"><a href="">Domain Transfer</a></li>
        <li class="footer__items"><a href="">Free Domain</a></li>
      </ul>
    </div>
  </section>
  <section
    class="footer--brand"
    style="display: flex; flex-direction: column; align-items: center"
  >
    <img class="footer__img" src="./icons/logo.png" alt="" />
    <p class="footer__copyright">Copyright 2020 Mosh</p>
  </section>
</footer>
