<div class="hero block--dark grid grid--1X2 block-skew-right">
  <header class="hero__heading">
    <h1 class="hero__header">Cloud Hosting for Pros</h1>
    <p>Deploy your website in less than 60 seconds.</p>
    <a href="" class="btn btn--accent btn--streched">GET Started</a>
  </header>
  <div>
    <picture>
      <img
        class="hero__img"
        sizes="(max-width: 1532px) 100vw, 1532px"
        srcset="
          images/banner_eho2sg_c_scale,w_200.png   200w,
          images/banner_eho2sg_c_scale,w_1107.png 1107w,
          images/banner_eho2sg_c_scale,w_1532.png 1532w
        "
        src="images/banner_eho2sg_c_scale,w_1532.png"
        alt=""
      />
    </picture>
  </div>
</div>
