<div class="quotes">
  <div class="quotes__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
    ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
    facilisis.
  </div>
  <div class="media">
    <div class="media--icon">
      <svg class="icon icon--primary quotes__icon">
        <use xlink:href="icons/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media--desc">
      <header>
        <h3 class="media__header quotes__author">Jhone Lumeo</h3>
      </header>
      <div>
        <p class="media__body quotes__author-position">Mosh Company ceo</p>
      </div>
    </div>
  </div>
</div>
