:root {
  --color-pramiry: #2584ff;
  --color-secondary: #00d7fc;
  --color-accent: #ff3400;
  --color-heading: #210e6b;
  --color-body: #918ca4;
}
/* TOPOGRAPHY */
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  box-sizing: border-box;
}

p {
  margin-top: 0;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  p,
  li {
    font-size: 1.8rem;
  }
}

/* LINKS */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* BADGES */

.badge {
  border-radius: 30px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
}

.badge--primary {
  background-color: var(--color-pramiry);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* BUTTON */

button {
  border: none;
  background-color: white;
}

.btn {
  border-radius: 20rem;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 4rem;
  padding: 2.5rem 0;
  width: 40rem;
  text-transform: uppercase;
}

.btn--heading {
  background-color: var(--color-heading);
  color: white;
}
.btn--heading-light {
  border: 1px solid var(--color-heading);
  color: var(--color-heading);
}
.btn--accent {
  background-color: var(--color-accent);
  color: white;
  font-weight: bold;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
  font-weight: bold;
}

/* LISTS */
.list {
  color: var(--color-heading);
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  font-weight: bold;
  margin-left: 1rem;
}

.list--tick {
  list-style-image: url("../icons/tick.svg");
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
  }
}

/* ICONS */

.icon {
  height: 60px;
  width: 60px;
}

.icon--primary {
  fill: var(--color-pramiry);
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 65px;
  justify-content: center;
  width: 65px;
}
