:root {
  --color-primary: #2584ff;
  --color-secondary: #00d7fc;
  --color-accent: #ff3400;
  --color-heading: #210e6b;
  --color-body: #918ca4;
}
/* TOPOGRAPHY */
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  box-sizing: border-box;
}

p {
  margin-top: 0;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  p,
  li {
    font-size: 1.8rem;
  }
}

/* LINKS */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* BADGES */

.badge {
  border-radius: 30px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

.plan .badge--secondary {
  background-color: #02cdf1;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* BUTTON */

button {
  border: none;
  background-color: white;
}

.btn {
  border-radius: 20rem;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 2px 0;
  padding: 2rem 3rem;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}

.btn--heading,
.btn--accent,
.btn--secondary {
  color: white;
}

.btn--heading {
  background-color: var(--color-heading);
}

.btn--heading:hover {
  background-color: #27156b;
}

.btn--outline {
  border: 1px solid var(--color-heading);
  color: var(--color-heading);
}
.btn--accent {
  background-color: var(--color-accent);
  font-weight: bold;
}
.btn--accent:hover {
  background-color: #fd491b;
}
.btn--secondary {
  background-color: var(--color-secondary);
  font-weight: bold;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* LISTS */
.list {
  color: var(--color-heading);
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  font-weight: bold;
  margin-left: 1rem;
}

.list--tick {
  list-style-image: url("../icons/tick.svg");
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
  }
}

/* ICONS */

.icon {
  height: 60px;
  width: 60px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 65px;
  justify-content: center;
  width: 65px;
}

/* INPUTS */

input {
  border-radius: 70px;
  color: var(--color-heading);
  font-size: 2rem;
  margin: 5px;
  outline: none;
  padding: 1.5rem 2rem;
  width: 100%;
}
input::placeholder {
  color: #8a898c;
}
.input-group {
  border: 1px solid #eee;
  border-radius: 70px;
  box-shadow: 0px 0px 20px #eee;
  display: flex;
  outline: none;
  margin: 10px;
}

.input-group input {
  border: none;
  margin: 0;
  flex-grow: 1;
}

@media screen and (min-width: 1024px) {
  input {
    font-size: 1.5rem;
  }
}

/* CARD */
.card {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px #f3f3f3;
  border-radius: 7px;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card__header {
  color: white;
  position: relative;
}

.card__header p {
  margin: 0;
}

.card--primary .card__header {
  background-color: var(--color-primary);
}
.card--secondary .card__header {
  background-color: var(--color-secondary);
}

.plan .plan__entry {
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
}

.plan .plan__price {
  font-size: 6rem;
}

.plan .plan__billing-cycle {
  opacity: 80%;
  font-size: 2.4rem;
}

.plan .plan__desc {
  opacity: 80%;
  display: block;
  letter-spacing: 1px;
}

.plan .badge--small {
  padding: 0.5rem 1rem;
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .plan .plan__price {
    font-size: 5rem;
  }
  .plan .plan__entry {
    font-size: 1.8rem;
  }
}

.card--popular-icon {
  width: 40px;
  position: absolute;
  right: 5%;
  top: -3%;
}

/* Media */
.media {
  display: flex;
}

.media__header {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 600;
}

.media--desc {
  margin: 0 20px;
}

.media__body {
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .media__header,
  .media__body {
    font-size: 1.8rem;
  }
}

/* Quotes */

.quotes__text {
  font-style: italic;
  color: #5c5577;
  font-size: 3rem;
}

.quotes__text::before {
  content: open-quote;
}
.quotes__text::after {
  content: close-quote;
}
.quotes__author {
  font-weight: 500;
  font-size: 3rem;
}

.quotes__author-position {
  font-size: 2rem;
  opacity: 0.4;
}

.quotes__icon {
  position: relative;
  top: -8%;
}

@media screen and (min-width: 1024px) {
  .quotes__text,
  .quotes__author {
    font-size: 2.4rem;
  }
  .quotes__author-position {
    font-size: 1.6rem;
  }
  .quotes__icon {
    position: relative;
    top: -15%;
  }
}
